KEY="Your Alma API key"
MMS_ID="a test MMS id"
MMS_IDS="a list of mms ids separated by commas"
JSON_RECORD = "some file from the api call.json"
CMARCEDIT_PATH = '"Absolute path to cmarcedit.exe"'
MARCEDIT_RULES = '"Absolute path to MarcEdit rules files."'