-i https://pypi.org/simple
black==24.2.0; python_version >= '3.8'
certifi==2024.2.2; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
colorama==0.4.6; sys_platform == 'win32'
idna==3.6; python_version >= '3.5'
iniconfig==2.0.0; python_version >= '3.7'
lxml==5.1.0; python_version >= '3.6'
mypy-extensions==1.0.0; python_version >= '3.5'
packaging==23.2; python_version >= '3.7'
pathspec==0.12.1; python_version >= '3.8'
platformdirs==4.2.0; python_version >= '3.8'
pluggy==1.4.0; python_version >= '3.8'
pymarc==5.1.2; python_version >= '3.7'
pytest==8.1.0; python_version >= '3.8'
requests==2.31.0; python_version >= '3.7'
urllib3==2.2.1; python_version >= '3.8'
